.category-list {
	list-style-type: none;
}

.category-list li {
	margin: 0.25rem 0;
}

.category-list li a{
	color:#d13040;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 0 0.25rem;
}

.category-list li a:hover {
	background-color: #d13040;
	color: white;
}